<style>
  /* Header & Navigation */
  .back {
    background:
       /* linear-gradient(rgba(30, 100, 160, 0.90), rgba(0, 0, 0, 0.45)), */
      linear-gradient(rgba(30, 100, 160, 0.90), rgba(0, 0, 0, 0.47)),
      url("img/rio_gemini_image.png") no-repeat center;
    background-size: cover;
    padding-bottom: 100px;
  }
  .back h1, .back h2, .back h3 { 
    color: white; 
    font-family: -apple-system, BlinkMacSystemFont, "Lato", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
  .back h1 {
    font-size: 4.8rem;
    font-weight: 600;
  }
  .back h2 { 
    font-weight: 400; 
    font-size: 2.5rem;
  }
  .back h3 {
    font-weight: 300;
    font-size: 2.2rem;
  }
  
  .back h3 a {
  color: #94cbe0;  
  text-decoration: none;
}
.back h3 a:hover {
  text-decoration: underline;
}


  .nav .btn { 
    font-size: 30px; 
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Lato", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0 6px; 
  }

  .nav a.active { text-decoration: underline; }
  .dropdown { position: relative; display: inline-block; }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a { color: black; padding: 12px 16px; text-decoration: none; display: block; }
  .dropdown-content a:hover { background-color: #f1f1f1; }
  .dropdown:hover .dropdown-content { display: block; }
</style>

<div class="jumbotron jumbotron-fluid back">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-20 col-sm-12">
      <h1>Generative AI in Genomics (Gen<sup>2</sup>): Barriers and Frontiers</h1>
      <h2> ICLR 2026 Workshop &nbsp;|&nbsp; April 26-27 &nbsp;|&nbsp; Rio de Janeiro, Brazil </h2>
      <h3>Contact: <a href="mailto:genai-in-genomics@googlegroups.com">genai-in-genomics@googlegroups.com</a></h3>
      <br>
      <div class="nav">
          <a href="index.html" class="btn {% if page.active_page == 'home' %}active{% endif %}">Home</a>
          <a href="call_for_papers.html" class="btn {% if page.active_page == 'cfp' %}active{% endif %}">Call for Papers</a>
          <a href="dates.html" class="btn {% if page.active_page == 'dates' %}active{% endif %}">Key Dates</a>
          <a href="program.html" class="btn {% if page.active_page == 'program' %}active{% endif %}">Program</a>
          <a href="faq.html" class="btn {% if page.active_page == 'faq' %}active{% endif %}">FAQ</a>
          <!-- <div class="dropdown">
              <a href="#" class="btn">Prior Years</a>
              <div class="dropdown-content">
                  <a href="iclr2024/index.html">ICLR 2024</a>
                  <a href="neurips2022/index.html">NeurIPS 2022</a>
              </div>
          </div> -->
          <!-- <div class="dropdown">
              <a href="#" class="btn">Coming Soon</a>
              <div class="dropdown-content">
                  <a href="iclr2026/index.html">ICLR 2026</a>
              </div>
          </div> -->
      </div>
    </div>
  </div>
</div>
